.vscode
*.o
*.so
*.dSYM
*.rdb
*.pyc
*.gcov
*.gcda
*.gcno
*.png
*.html
*.info
*.css
tests/flow/logs
tests/unit/test-basic
tests/unit/test-perf
tests/unit/test-cuckoo
site/
venv/
deps/infer
deps/infer*
infer-out/
.idea
