name: Build on macOS

on:
  push:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-11
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup
      run: |
        pip install --upgrade setuptools
        ./sbin/setup
        export GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        ./deps/readies/bin/getredis -v 7 --with-github-token
    - name: Build
      run: make
    - name: Unit tests
      run: make unit-tests
    - name: Flow tests
      run: make flow-tests
