name: build for mariner2

on:
  pull_request:
    branches:
      - 2.6
  push:
    branches:
      - master
      - 2.6
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-mariner2:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l -o pipefail {0}
    container:
      image: mcr.microsoft.com/cbl-mariner/base/core:2.0
    steps:
      - name: Install pre-checkout dependencies
        run: tdnf install --noplugins --skipsignature -y ca-certificates git
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
          bash .install/mariner2.sh
      - name: Get Redis
        uses: actions/checkout@v4
        with:
          repository: redis/redis
          ref: '7.2.1'  # todo: use this is a parameter when we have flows for multiple platforms
          path: redis
      - name: Build Redis
        working-directory: redis
        run: make install
      - name: Build and test Bloom
        run: make test
